/* inizi sfondo e header */
body{
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: rgba(68,160,255,255);
    background-size: 39%;
}

.logo{
    width: 370px;
    height: 80px;
    position: relative;
    left: -20px;
    bottom: -30px;
}

header{
    height: 120px;
}
/* fine sfondo e header */